{
  // 配置表示继承其他模块相关的eslint配置
  "extends": [
    "./build/eslintrc-auto-import.json",
    "eslint-config-airbnb-base"
  ],
  // 配置定义了一组预定义的全局变量
  "env": {
    "browser": true,
    "node": true,
     "es2022": true
  },
  // 配置第三方插件，插件名称可以省略 eslint-plugin- 前缀
  "plugins": [
    "vue",
    "import"
  ],
  // 配置当前JavaScript语言的支持环境，默认是 ECMAScript 5 语法。该配置可以覆盖原有配置，以启用对 ECMAScript 其它版本和 JSX 的支持
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
